<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="true" />
  <param
    name="robot_description"
    textfile="$(find gluon_2l6_4l3)/urdf/gluon_2l6_4l3.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find gluon_2l6_4l3)/urdf.rviz" />
</launch>
